<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Gerenciador de Supply Chain</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Supply Manager", "Index", "Supply", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar a navegação" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Mercadorias", "Products", "Supply", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Entradas", "Inbounds", "Supply", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Saídas", "Outbounds", "Supply", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Relatórios
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><h6 class="dropdown-header">Tabelas</h6></li>
                            <li>@Html.ActionLink("Mercadoria (mensal)", "Mensal", "Mercadoria", new { area = "" }, new { @class = "dropdown-item" })</li>
                            <li><h6 class="dropdown-header">Gráficos</h6></li>
                            <li>@Html.ActionLink("Gráfico por mercadoria (mensal)", "GerarGraficoMercadoria", "Mercadoria", new { area = "" }, new { @class = "dropdown-item" })</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Supply Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
